<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtlasSSH" version="2.1.2.0" targetFramework="net452" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net452" />
  <package id="LINQToTTree-Head" version="0.50.0.357" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NVelocity" version="1.0.3" targetFramework="net452" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net452" />
  <package id="ROOT.NET.Core" version="5.34.34.8" targetFramework="net452" />
  <package id="ROOT.NET.Dynamic" version="5.34.34.8" targetFramework="net452" />
  <package id="ROOT.NET.Graphing" version="5.34.34.8" targetFramework="net452" />
  <package id="ROOT.NET.PROOF" version="5.34.34.8" targetFramework="net452" />
  <package id="ROOT.NET.Tree" version="5.34.34.8" targetFramework="net452" />
  <package id="Sprache" version="2.0.0.50" targetFramework="net452" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net452" />
</packages>